[submodule "/home/ntmoe/.vim/bundle/vundle"]
	path = /home/ntmoe/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
